extends ../layouts/default
block head
    script(src='/vendor/jquery/jquery.min.js')
    //script(src='../../util/nodemailer.js', type='text/javascript')
    script(type='text/javascript').
        function sendMail(){
            $.ajax({
                type: "GET",
                url: "/usermanage/sendmail",
                contentType: "application/json",
                data: JSON.stringify({}),
                dataType: "json",
                success: function(data, status){
                    alert(data);
                    alert(JSON.stringify(data));
                    //console.log("test : "+data);
                    //fnJsonToExcel(JSON.stringify(data));

                    //fnJsonToExcel(data);
                },
                error: function(data, status, err) {
                    console.log("err : "+err);
                    return;
                }
            });
        }

block content
    .content-page
        .content
            .container
                // Page-Title
                .row
                    .col-sm-12
                        .page-title-box
                            ol.breadcrumb.pull-right
                                li
                                    a(href='#') Home
                                li
                                    a(href='#') SD 기본정보
                                li.active 사원정보관리(내외)
                            h4.page-title 사원정보관리(내외)
                 // Form TYPE 1
                .row
                    .col-lg-12
                        .card-box
                            .p-20
                                form.form-horizontal.group-border-dashed(id='usermanage' name='form' action='/usermanage/new' method='post')
                                    .form-group
                                        .row
                                            .col-xs-6.col-sm-6.col-md-6
                                                a.btn.btn-primary(href='/usermanage/new')
                                                    | 추가 
                                                // Button trigger modal
                                                a.btn.btn-info(id='sendmail' onclick="sendMail();") mailer
                                            .col-xs-3.col-sm-3.col-md-3
                                                input.form-control(id='searchText' name='usermanage[searchText]' type='text')
                                            .col-xs-2.col-sm-2.col-md-2
                                                .dropdown
                                                    button.btn.btn-default.dropdown-toggle(data-toggle='dropdown' type='button') 검색유형
                                                        span.span.caret
                                                    ul.dropdown-menu.dropdown-menu(role='menu', aria-labelledby='menu1')
                                                        li(role='presentation')
                                                            a(data-type='title,content', href='#', role='menuitem', tabindex='-1') 제목,본문
                                                        li(role='presentation')
                                                            a(data-type='title', href='#', role='menuitem', tabindex='-1') 제목
                                                        li(role='presentation')
                                                            a(data-type='content', href='#', role='menuitem', tabindex='-1') 본문
                                    hr
                                    .form-group
                                        .row
                                            .col-md-12.portlets
                                                // Your awesome content goes here
                                                .m-b-30
                                                    table.table.table-striped
                                                        thead
                                                            tr
                                                                th(width='20%') 회사명
                                                                th(width='20%') email
                                                                th(width='10%') 사원명
                                                                th(width='20%') 부서명
                                                                th(width='8%') 직위
                                                                th(width='8%') 직책
                                                                th(width='14%') 핸드폰번호
                                                        tbody
                                                            - if (usermanage.length > 0) {
                                                                // - for( var i = 0 ; length = usermanage.length > i ; i++ ){ //속도가 빠르다고 알고 있음.
                                                                - for( var i in usermanage ){ //속도가 느리다고 알고 있음.
                                                                    tr(onclick="onclick=location.href='/usermanage/#{usermanage[i]._id}/edit'")
                                                                        td.highlight(data-highlight='search.highlight.title') #{usermanage[i].company_nm}
                                                                        td #{usermanage[i].email}
                                                                        td #{usermanage[i].employee_nm}
                                                                        td #{usermanage[i].dept_nm}
                                                                        td #{usermanage[i].position_nm}
                                                                        td #{usermanage[i].jikchk_nm}
                                                                        td #{usermanage[i].hp_telno}
                                                                - }
                                                            - }else{
                                                                tr
                                                                    td(colspan='5' align='center') 조회된 데이타가 없습니다.
                                                            - }