extends ../layouts/default

block content
    div.container
        div
            button.btn.btn-primary.btn-signup(onclick="location.href='/usermanage'") 목록
            button.btn.btn-primary.btn-info(onclick="location.href='/usermanage/#{usermanage._id}/edit'") 수정
            button.btn.btn-primary.btn-danger(onclick="location.href='/usermanage/#{usermanage._id}/delete'") 삭제
        h3
            span Title : #{usermanage.title}
        div
            div
                div
                | 작성자 : #{usermanage.author}
                div
                    span 아이디 : #{usermanage.user_id}
        div #{usermanage.content}    
    
