extends ../layouts/default

block head
    script(src='/vendor/jquery/jquery.min.js')

block content
    .content-page
        .content
            .container
                .row
                    .col-sm-12
                        .page-title-box
                            ol.breadcrumb.pull-right
                                li
                                    a(href='#') Home
                                li
                                    a(href='#') SD 기본정보
                                li.active 처리구분 처리조회
                            h4.page-title 처리구분 처리조회
                .row
                    .col-sm-12
                        .card-box
                            .btn-toolbar.form-group
                                .pull-left
                                    a.btn.btn-primary.waves-effect.waves-light.m-l-5(href='/processGubun/new')
                                        i.fa.fa-edit
                                        |  추가
                            table.table.table-hover(id='dvData' data-tablesaw-mode='swipe')
                                thead
                                    tr
                                        th(width='20%') 상위업무명
                                        th(width='30%') 처리구분명
                                        th(width='20%') 설명
                                        th(width='10%') 등록자
                                        th(width='10%') 등록일
                                        th(width='10%') 사용여부
                                tbody
                                    - if (processGubun.length > 0) {
                                        // - for( var i = 0 ; length = question.length > i ; i++ ){ //속도가 빠르다고 알고 있음.
                                        - for( var i in processGubun ){ //속도가 느리다고 알고 있음.
                                            tr(onclick="onclick=location.href='/processGubun/edit/#{processGubun[i]._id}'")
                                                td #{processGubun[i].higher_cd}
                                                td #{processGubun[i].process_nm}
                                                td #{processGubun[i].description}
                                                td #{processGubun[i].user_nm}
                                                td #{processGubun[i].created_at}
                                                td #{processGubun[i].use_yn}
                                        - }
                                    - }else{
                                        tr
                                            td(colspan='5' align='center') 조회된 데이타가 없습니다.
                                    - }  