extends ../layouts/default
block head
    title 3-3 상위별 하위업무통계
    // Plugins css
    link(href='../plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css', rel='stylesheet')
    link(href='../plugins/multiselect/css/multi-select.css', rel='stylesheet', type='text/css')
    link(href='../plugins/select2/select2.css', rel='stylesheet', type='text/css')
    link(href='../plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css', rel='stylesheet')
    link(href='../plugins/timepicker/bootstrap-timepicker.min.css', rel='stylesheet')
    link(href='../plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css', rel='stylesheet')
    link(href='../plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
    link(href='../plugins/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
    link(href='../plugins/switchery/switchery.min.css', rel='stylesheet')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/core.css', rel='stylesheet', type='text/css')
    link(href='assets/css/icons.css', rel='stylesheet', type='text/css')
    link(href='assets/css/components.css', rel='stylesheet', type='text/css')
    link(href='assets/css/pages.css', rel='stylesheet', type='text/css')
    link(href='assets/css/menu_light.css', rel='stylesheet', type='text/css')
    link(href='assets/css/responsive.css', rel='stylesheet', type='text/css')
    script(src='assets/js/modernizr.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    script(src='assets/js/jquery.core.js')
    script(src='assets/js/jquery.app.js')

    script(src='/vendor/jquery/jquery-ui.1.11.0.js')
    script(src='/isu/js/statistic/high_lower.js', type='text/javascript')
    script(src='/vendor/jquery/jquery.min.js')

block content
    .content-page
        .content
            .container
                .row
                    .col-sm-12
                        .page-title-box
                            ol.breadcrumb.pull-right
                                li
                                    a(href='#') Home
                                li
                                    a(href='#') SD 통계
                                li.active 상위별 하위업무통계
                            h4.page-title 상위별 하위업무통계
                .row
                    .col-lg-12
                        .card-box.m-t-10
                            form.form-horizontal.group-border-dashed(action='#')
                                .form-group
                                    label.col-sm-2.control-label 검색년도
                                    .col-sm-2
                                        select.form-control
                                            option 2012
                                            option 2013
                                            option 2014
                                            option 2015
                                            option 2016
                                            option(selected='') 2017
                                            option 2018
                                            option 2019
                                            option 2020
                                            option 2021
                                    .col-sm-2
                                        select.form-control
                                            option 전체
                                            option 1월
                                            option 2월
                                            option 3월
                                            option 4월
                                            option 5월
                                            option 6월
                                            option 7월
                                            option 8월
                                            option 9월
                                            option 10월
                                            option 11월
                                            option 12월
                                    label.col-sm-2.control-label 회사명
                                    .col-sm-2
                                        select.form-control
                                            option 전체
                                            option 항목1
                                            option 항목2
                                            option 항목3
                                            option 항목4
                                            option 항목5
                                    .col-sm-2
                                        button.btn.btn-primary(type='button')
                                            i.fa.fa-search.m-r-5
                                            | 조회
                .row
                    .col-lg-12
                        .card-box
                            table.table.table-bordered
                                thead
                                    tr
                                        th.font-12(class='text-center' width='') 상위업무명
                                        th.font-12(class='text-center' width='17%') 하위업무명
                                        th.font-12(class='text-center' width='10%') 총요청건수
                                        th.font-12(class='text-center' width='10%') 처리중건수
                                        th.font-12(class='text-center' width='10%') 해결건수
                                        th.font-12(class='text-center' width='10%') 미해결건수
                                        th.font-12(class='text-center' width='10%') 해결률(%)
                                        th.font-12(class='text-center' width='10%') 평점
                                tbody
                                    //tr
                                    - if (incident.length > 0) {
                                        - for( var i = 0 ; length = incident.length > i ; i++ ){ //속도가 느리다고 알고 있음.
                                            //option(value ='#{companyProcess[i].higher_cd}') #{companyProcess[i].higher_nm}
                                            tr
                                                th.valign-middle(id='higher_cd' scope='row') #{incident[i]._id.higher_nm}
                                                td #{incident[i]._id.lower_nm}
                                                td #{incident[i].count}
                                                td 
                                                td 
                                                td 
                                                td 
                                                td 

                                        - }
                                    - }
                                    //th.valign-middle(id='higher_cd' scope='row', rowspan='2')
                                        td OPTI-HR
                                        td 83
                                        td 4
                                        td 79
                                        td 0
                                        td 95.2
                                        td 4.7
                                    //tr.bg-muted
                                        td 소개
                                        td 83(1.3)
                                        td 4
                                        td 79
                                        td 0
                                        td 95.2
                                        td 4.7
                                   
                                    tr.bg-primary10.border-top
                                        td.text-center.text-primary(colspan='2')
                                            b 합 계
                                        td.text-primary
                                            b 6528
                                        td.text-primary
                                            b 133
                                        td.text-primary
                                            b 6121
                                        td.text-primary
                                            b 3
                                        td.text-primary
                                            b 97.8
                                        td.text-primary
                                            b 4.4

block footer
